:root {
  --vp-home-hero-name-color: #0bd1d1;
  --vp-button-brand-bg: #0bd1d1;
  --vp-c-brand-1: #0688d8;
  --vp-sidebar-width: 330px;
}

:root.dark {
  --vp-c-brand-1: #0bd1d1;
}

html:not(.dark) .github-alert.note {
  background: #d8ebf8 !important;
}

html.dark .github-alert.note {
  background: #2975d857 !important;
}

html:not(.dark) .github-alert.tip {
  background: #dffcdd !important;
}

html.dark .github-alert.tip {
  background: #04ce122f !important;
}

kbd {
  padding: 3px 6px;
  border-radius: 4px;
}

html:not(.dark) kbd {
  background: rgba(207, 226, 238, 0.491);
  color: rgb(11, 103, 178);
}

html.dark kbd {
  background: rgba(54, 54, 54, 0.491);
  color: rgb(10, 200, 187);
}

.VPHomeHero {
  padding-bottom: 20px !important;
  margin-bottom: 20px !important;
}

.vp-doc table {
  width: 100%;
  display: table;
}

.no_underline {
  text-decoration: none !important;
}

div.course {
  display: flex;
}

div.course > a + a {
  margin-left: 10px;
}

div.course > a.soon {
  cursor: default;
  opacity: 0.75;
}

div.course > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--vp-c-bg-soft);
  color: var(--vp-button-alt-text);
  padding: 12px;
  border: 1px solid var(--vp-c-bg-soft);
  border-radius: 12px;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  transition: border-color 0.25s, background-color 0.25s;
}

div.course > a:hover {
  cursor: pointer;
  border: 1px solid var(--vp-c-brand-1);
}

div.course > a p {
  margin: 0px;
}
